<div *ngIf= "!!Profile" style="font-size:300%; text-align:center; background-color:gold">
    <a style="color:maroon" [routerLink]="'shop/' + Profile.Prefered" (click)="refresh()">
        Mitra's One Stop Shop
    </a>
</div>
<div *ngIf= "Profile == null" style="font-size:300%; text-align:center; background-color:gold">
    <a style="color:maroon" routerLink="shop/1" (click)="refresh()">
        Mitra's One Stop Shop
    </a>
</div>
<div style="text-align:center; background-color:gainsboro">
<span *ngFor = "let cat of categories">
    <a style="color:maroon; font-size:200%; margin: 10px;" (click)="refresh()" [routerLink]= "'shop/' + cat.ID">{{cat.Title}}</a>
</span>
<span>
    <a *ngIf= "!!Profile" style="font-size:200%; color:black; margin-left:10px" routerLink= "profile">{{Profile.Username}}</a>
    <a *ngIf= "!!Profile" style="margin-left: 10px; color:maroon; font-size:150%;">Cash: ${{Profile.Cash}}</a>
    <button *ngIf= "!!Profile" style="margin-left: 10px; background-color:darksalmon; font-size:150%; color:gainsboro;" routerLink= "cart">Cart</button>
    <button style= "background-color:maroon; font-size:200%; color:gainsboro; margin-left:195px" *ngIf= "Profile == null" routerLink= "login">Login</button>
    <button style= "background-color:maroon; font-size:200%; color:gainsboro; margin-left:195px" *ngIf= "!!Profile" type="submit" (click)="logout()">Logout</button>
</span>
<router-outlet></router-outlet>
</div>
