<div style="text-align:center; background-color:gainsboro">

  <button style="font-size:150%; background-color:green; color:lightgreen" type="submit" (click)="addMoney()" routerLink="">Add $20</button>

        <h1 style="color:maroon; font-size:300%; margin: 40px;">{{userProf.Username}}</h1>
        <h1 style="color:maroon; font-size:200%; margin: 40px;">{{userProf.Gender}}</h1>
        <h1 style="color:maroon; font-size:200%; margin: 40px;">{{userProf.Birthday}}</h1>
        <h1 style="color:maroon; font-size:200%; margin: 40px;">{{userProf.id}}</h1>

        <div *ngFor="let prod of inventory">
            <h1 style="font-size:150%; color:black">{{prod.name}}  -  {{prod.url}}</h1>
        </div>
</div>
